ol {
  margin-left: -40px;
  margin-top: -20px;
  list-style-position: inside;
}

/* Write your CSS below, don't change the rules above. */
* {
  text-align: center;
}

.note[value="2"] {
  color: black;
}

p {
  color: red;
}

.note {
  font-size: 20px;
}

#id-selector-demo {
  color: green;
}

.note[value="2"] {
  font-size: 20px;
}

.note[value="4"] {
  color: blue;
}